/*   Author Camila Silva
     Created in 05/04/2022
     Css index.html */

    /* fonts */
    @import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Grape+Nuts&family=Roboto+Mono&family=Rubik+Microbe&family=Rubik+Moonrocks&display=swap');

    /* reseting the main elements */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    /* addition the font size and background color */
    body{
        font-size: 100%;
        background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    }
    /* adjusting display type */
    .cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 24px;
    }
    /* adjusting the image size */
    .cabecalho_img{
        height: 72px;
    }
    /* adjusting itens main menu */
    .cabecalho_menu{
        display: flex;
        gap: 32px;
        cursor: pointer;
    }
    /* adjusting itens menu one by one */
    .cabecalho_menu_item{
        font-family: 'Grape Nuts', cursive;
        color: rgb(234, 182, 236);
        font-weight: 400;
        font-size: 18px;
    }
    /* adjusting main texts */
    .conteudo{
        border-top: 0.4px dotted rgb(234, 182, 236);
        margin-bottom: 48px;
    }
    /* adjusting the main body elements */
    .conteudo_principal{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    /* adjusting the main body elements text */
    .conteudo_principal_escrito{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    /* adjusting main text  */
    .conteudo_principal_titulo{
        font-family: 'Roboto Mono', monospace;
        font-weight: 400;
        font-size: 64px;
        color: rgb(205, 137, 234);
    }
    /* adjusting main text */
    .conteudo_principal_escrito{
        font-family: 'Grape Nuts', cursive;
        font-weight: 400;
        color: rgb(234, 182, 236);
        font-size: 24px;
    }
    /* adjusting add button */
    .btn_adicionar{
        background-color: rgb(240, 157, 157);
        width: 180px;
        height: 60px;
        border: none;
        box-shadow: 4px 5px 4px rgb(3, 3, 3);
        border-radius: 20px;
        font-weight: 400;
        font-family: 'Roboto Mono', monospace;
        font-size: 24px;
        color: black;

    }
    /* adjusting hover button */
    .btn_adicionar:hover{
        cursor: pointer;
        transition: 0.5s;
        background-color: rgb(205, 137, 234);
    }

    .body_img{
        height: 300px;
        padding-top: 40px;
    }
    /* sdjusting the main footer elements */
    .conteudo_secundario{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-top: 48px;
    }
    /* adjusting the second title */
    .conteudo_secundario_titulo{
        border-top: 0.4px dotted rgb(234, 182, 236);
        padding-top: 48px;
        font-family: 'Roboto Mono', monospace;
        font-weight: 400;
        font-size: 24px;
        color: rgb(234, 182, 236);
        margin-bottom: 16px;
    }
    /* adjusting the main second element text */
    .conteudo_secundario_escrito{
        font-family: 'Grape Nuts', cursive;
        font-size: 18px;
        color: rgb(234, 182, 236);
        font-weight: 400;
    }
    /* adjusting footer */
    .rodape{
        padding: 32px;
        border-top: 0.4px dotted rgb(234, 182, 236);
    }

    .text_footer{
        display: block;
        margin: 0 auto;
        padding-left: 450px;
        font-family: 'Beau Rivage', cursive;
        color: rgb(166, 98, 193);
        font-size: 90px;
    }
