/* Created by Camila Silva
   Since 19/05/2022 */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Spline+Sans+Mono:wght@700&display=swap');

@media(min-width: 768px){
    /* default reset */
    *{
        padding: 0;
        margin: 0;
    }
    /* adjusting background color */
    body{
        background: rgb(240,207,175);
        background: radial-gradient(circle, rgba(240,207,175,1) 54%, rgba(120,211,230,1) 98%);
    }
    /* ------HEADER------ */

    header{
        display: flex;
        justify-content: space-between;
    }

    button{   
        padding: 10px 25px 10px 25px;
        font-family: Montserrat;
        font-weight: 600;
        background-color: black;
        color: white;
        cursor: pointer;
        border: transparent;
        transition: .5s;
    }

    button:hover{
        color: yellow;
    }

    .header-title{
        display: flex;
        margin: 40px 0 0 80px;
        gap: 10px;
    }

    .header-title i, p{
        font-size: 20px;
        font-family: Montserrat;
        font-weight: 600;
    }

    /* ----- NAVIGATE BAR -------*/
    .navigate-link{
        display: flex;
        margin-right: 80px;
    }

    .navigate ul, a[href^="#"]{
        display: flex;
        flex-direction: row;
        list-style: none;
        text-decoration: none;
        font-family: Montserrat;
        color: black;
        font-weight: 400;
        transition: .5s;
    }

    .navigate ul, a:hover{
        color: rgba(0, 0, 0, 0.558);
    }

    .navigate ul, a[href^="http"]{
        display: flex;
        flex-direction: row;
        list-style: none;
        font-family: Montserrat;
        color: black;
        font-weight: 400;
        transition: .5s;
    }

    .navigate ul, a[href^="http"]:hover{
        color: rgb(243, 0, 0);
    }

    .navigate li{
        display: flex;
        margin-top: 35px;
        padding: 15px;
    }
    /* ------ MAIN CONTENT ------*/
    .main-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 50px;
    }

    .left-content{
        margin: 40px;
    }

    .left-content h1, h2, p{
        font-family: Montserrat;
    }

    .left-content p{
        position: relative;
        width: 70%;
        top: -20px;
        transform: translateX(30px);
        font-size: 14px;
        line-height: 30px;
    }

    .left-content h1{
        font-size: 64px;
        color: #7fd7f5;
        text-shadow:rgb(0, 0, 0) 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px
    }

    .left-content button{
        margin-left: 50px;
        box-shadow: 4px 4px rgba(0, 0, 0, 0.633);
        border-radius: 10px;
    }

    .left-content button + p{
        font-size: 14px;
        margin: 25px 0 0 20px;
    }
    
    .text-description-page{
        margin: 30px;
    }

    .text-description-page h2{
        font-family: 'Spline Sans Mono', monospace;
        font-weight: 700;
        width: 100%;
        font-size: 50px;
        font-weight: bold;
        text-shadow: 3px 3px rgba(0, 0, 0, 0.584);
    }

    .right-content img{
        width: 30em;
    }
}
