/*   Author Camila Silva
     Since 12/04/2022
     Css index.html */

/* font text */
@import url('https://fonts.googleapis.com/css2?family=Anek+Odia&family=Playfair+Display&display=swap');

/* default */
*{
    margin: 0;
    padding: 0;
}
/* body color default */
body{
    background: linear-gradient(
        to right,
        rgb(241, 196, 204) 0%,
        rgb(241, 196, 204) 50%,
        #60bc70 50%,
        #60bc70 110%
    );
}


/* adjusting header position */
.menu_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}
/* adjusting text left header */
.menu_header h1{
    padding-left: 75px;
    font-family: 'Anek Odia', sans-serif;
    font-size: 24px;   
}
/* adjusting right header icons */
.icons{
    display: flex;
    gap: 20px;
    color: rgba(255, 255, 255, 0.754);
    cursor: pointer;
    padding-right: 75px;
}
/* adjusting hover of the icons */
.icons a:hover{
    color: rgb(86, 82, 82);
    transition: 0.5s;
}
/* adjusting header links */
.link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    font-family: 'Anek Odia', sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(79, 77, 77);
}

.link a:hover{
    font-size: 18px;
    transition: 0.5s;
}
/* adjusting text that will be in the body center */
.main_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
/* adjusting caption that will be in the body center */
.main_title h1{
    font-size: 70px;
    font-family: 'Playfair Display', serif;
}
/* adjusting h2 tag */
.main_title h2{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
}
/* adjusting main text */
.main_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main_content img{
    width: 35%;
    padding-right: 0.4%;
    position: fixed; 
}
/* adjusting text that will be on the left side */
.left_text{
    padding-top: 10px;
    position: fixed; 
}
/* adjusting left body text */
.left_text h3{
    padding-left: 75px;
    font-family: 'Anek Odia', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
/* adjusting left body text */
.left_text p{
    width: 32%;
    padding-left: 75px;
    font-family: 'Anek Odia', sans-serif;
    font-weight: bold;
}
/* adjusting button and text that will be on the side left*/
.cart{
    display: flex;
    flex-direction: row;
    padding-left: 75px;
    padding-top: 40px;
}
.teste{
    filter: drop-shadow(10px 10px black);
}


/* adjusting cart button */
.cart button{
    width: 12%; 
    height: 45px;  
    background-color: black;
    color: white;
    font-family: 'Anek Odia', sans-serif;
    font-weight: bold;
    font-size: 16px;
    clip-path: polygon(0 1%, 100% 0, 88% 100%, 0% 100%);
    border-radius: 10px 10px 40px 10px;
    border: none;
    
}
/* adjusting hover button */
.cart button:hover{
    cursor: pointer;
    background-color: #60bc70;
    color: black;
    transition: 0.5s;
}
/* adjusting price button */
.cart p{
    padding-left: 40px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 800;
    font-size: 35px; 
}

.right_text{ 
   height: 15%;
   padding-left: 70%;
   color: #25612f;
} 

.right_text a{
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    padding: 5px 20px 2px 20px;
    box-shadow: 2px ;
}
.ingredients{
    display: flex;
    flex-direction: column;
    width: 115%;
    height: 20%;
    background-color: rgb(241, 209, 152);  
    border-radius: 10px 10px 10px 10px;
    border: none;
    box-shadow: 0px 50px 15px 0px rgba(0, 0, 0, 0.247);
}

.ingredients_text{
    font-size: 12px;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
}

.flavors{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    width: 115%;
    height: 20%;
    background-color: rgb(241, 209, 152);
    border-radius: 10px 10px 10px 10px;
    border: none;
    box-shadow: 0px 50px 15px 0px rgba(0, 0, 0, 0.247);
}

.flavors_text{
    font-size: 12px;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
}
