/*   Author Camila Silva
     Created in 19/04/2022
     adjusting index.css */

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;700&family=Whisper&display=swap');

/* --------background------- */

/* reset default */
*{
    padding: 0;
    margin: 0;
}
/* adjusting image that will be on the background */
body{
    width: 100%;
    background: rgba(0, 0, 0, 0.7) url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken;
    
}
/* --------header-------- */

/* adjusting image that will be on the header */
#main-header{
    display: inline-block; 
    background: rgba(0, 0, 0, 0.544) url(../img/header.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-position: right center;
    width: 88%;
    height: 550px; 
    margin-left: 80px; 
    margin-top: 80px;
    border-radius: 10px;
}
/* adjusting position navigate bar*/
.navigate-bar{
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-left: 95px;
    padding-top: 30px;
}
/*  adjusting title that will be over the left header  */
.navigate-bar h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 40px;
}
.navigate-bar p{
    padding-left: 600px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.548);
    letter-spacing: 2px;
    cursor: pointer;
}

/* adjusting link that will be on the header */
.link-header{
    display: flex;
    padding-left: 250px;
}
/* adjusting text link that will be on the header */
.link-header a{
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Anek Odia', sans-serif;
    color: rgba(255, 255, 255, 0.654);
}
/* adjusting hover link that will be on the header */
.link-header a:hover{
    transition: 0.5s;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.597);
    font-weight: bold;
}
/* adjusting main title that will bem on the header */
.header-text{
    display: block;
    color: white;    
    padding-left: 350px;
}
/* adjusting h2 and h2 that will be on the header */
.header-text h1, h2{   
    line-height: 1em;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
/* adjusting text "home care" that will be on the header */
.homecare{
    font-size: 80px;
    font-family: 'Whisper', cursive;
    color: orangered;
    letter-spacing: 2px;
    padding-left: 250px;
    padding-top: 100px;
}





