/*   Author Camila Silva
     Created in 19/04/2022
     adjusting index.css */

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;700&family=Whisper&display=swap');

/* --------default background------- */

/* reset default */
*{
    padding: 0;
    margin: 0;
}
/* adjusting image that will be on the background */
body{
    width: 100%;
    background: rgba(0, 0, 0, 0.7) url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken;
    
}
/* --------header-------- */

/* adjusting image that will be on the header */
#main-header{
    display: inline-block; 
    background: rgba(0, 0, 0, 0.544) url(../img/header.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-position: right center;
    width: 88%;
    height: 550px; 
    margin-left: 80px; 
    margin-top: 80px;
    border-radius: 10px;
}
/* adjusting position navigate bar*/
.navigate-bar{
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-left: 95px;
    padding-top: 30px;
}
/*  adjusting title that will be over the left header  */
.navigate-bar h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 40px;
}

/* adjusting link that will be on the header */
.link-header{
    display: flex;
    padding-left: 400px;
}
/* adjusting text link that will be on the header */
.link-header a{
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.335);
}
/* adjusting hover link that will be on the header */
.link-header a:hover{
    transition: 0.5s;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.597);
    font-weight: bold;
}
/* adjusting main title that will bem on the header */
.header-text{
    display: block;
    color: white;    
    padding-left: 250px;
}
/* adjusting h2 and h2 that will be on the header */
.header-text h1, h2{   
    line-height: 1em;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
/* adjusting text "home care" that will be on the header */
.homecare{
    font-size: 60px;
    font-family: 'Whisper', cursive;
    color: orangered;
    letter-spacing: 2px;
    padding-left: 150px;
    padding-top: 100px;
}

/* -------- MAIN CONTENT -------- */

/* adjusting the position main content*/
#container-catalog{
    position: relative;
    display: flex;
    margin: 0 80px;
    background-color: rgba(216, 210, 210, 0.829);
    border-radius: 10px;  
}
/* adjusting main container of the products */
.catalog-column{
    position: relative;
    display: flex;
    flex-direction: column;
}
/* adjusting position of the product column */
.product{
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

/* adjusting the products images that will be on the center page*/
.product img{
    width: 384px;
    height: 290px;
    /* corta a imagem sem deixar desfocado */
    object-fit: cover; 
    z-index: 1;
}

/* adjusting product paragraph */
.product p{
    position: absolute;
    z-index: 2;
    padding: 10px;
    font-family: 'Whisper', cursive;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
}


/* -------------- footer ----------- */
/* adjusting area total footer */
.footer-section{
    display: flex;
    margin: 0 80px;
    background-color: white;
    height: 300px;
}
/* adjusting contacts in column */
.column-contact{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
}
/* adjusting contacts position */
.contact{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 55px;
    padding-bottom: 20px;
    margin-top: 80px;
}
/* adjusting the paragraph contact */
.paragraph{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 40px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;   
    font-size: 14px;
    cursor: pointer;
}
/* adjusting contact hover */
.paragraph p:hover{
    font-weight: bold;
}
/* adjusting title footer position */
.title-footer{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 40px;    
}

/* adjusting the main title footer */
.title-atf{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 520;
}
/* adjusting the caption footer */
.title-beauty{
    position: relative;
    padding-left: 22px;
    bottom: 15px;
    transform: rotate(-10deg);
    font-family: 'Whisper', cursive;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: bold;
    color: rgb(238, 69, 97);
}
/* adjusting title contact footer */
.title{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
}


