/* Created by Camila Silva
   Since 02/05/2022
   Style landing page digital art */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Libre+Bodoni&family=Tapestry&display=swap');

/* adjusting default of the body */
body{
    padding: 0;
    margin: 0;
    background-color: black;
}
/* adjusting the center div */
#main{
    width: 1224px; 
    height: 580px;
    background-color: rgb(191, 181, 181);
    margin: 40px auto;
}